{% extends 'base' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/bulma-docs.min.css">
<style>
    .box {
        background-color: #eef3fc;
    }
    .table__wrapper {
        overflow-x: auto;
    }
</style>
{% endblock style %}

<!-- CONTENT BLOCK -->
{% block content %}

<h1 class="title is-3">COVID-19</h1>
<h2 class="subtitle is-5">Coronavirus tracker</h2>

<div class="columns">
    <div class="column">
        <div class="field">
            <p class="control has-icons-left">
                <input id="pac-input" type="text" placeholder="Enter current your location" class="input is-fullwidth"/>
                <span class="icon is-small is-left">
                <i class="fa fa-map-marker"></i>
        </span>
            </p>
        </div>
    </div>
</div>
<br/>

{% if notification != null %}
<div class="columns">
    <div class="column">
        {% if notification.level == 3 %}
        <div class="notification is-danger">
            <button class="delete"></button>
            <div class="columns">
                <div class="column">
                    <ul>
                        <li>Your address: {{location.address}}</li>
                        <li>The nearest cases is: <strong>{{notification.distance}}</strong> kilometers {{notification.neatestLocation}}</li>
                    </ul>
                    (<i>We are developing this feature from the dataset in Reference (below of page) so that it is only estimated.
                    Feedback for us at: <a style="color: #2E70DB" href="mailto:akdev.pro@gmail.com" rel="nofollow">akdev.pro@gmail.com</a></i>)
                </div>
            </div>

        </div>
        {% elseif notification.level == 2 %}
        <div class="notification is-warning">
            <button class="delete"></button>
            <div class="columns">
                <div class="column">
                    <ul>
                        <li>Your address: {{location.address}}</li>
                        <li>The nearest cases is: <strong>{{notification.distance}}</strong> kilometers {{notification.neatestLocation}}</li>
                    </ul>
                    (<i>We are developing this feature from the dataset in Reference (below of page) so that it is only estimated.
                    Feedback for us at: <a style="color: #2E70DB" href="mailto:akdev.pro@gmail.com" rel="nofollow">akdev.pro@gmail.com</a></i>)
                </div>
            </div>
        </div>
        {% else %}
        <div class="notification is-success">
            <button class="delete"></button>
            <div class="columns">
                <div class="column">
                    <ul>
                        <li>Your address: {{location.address}}</li>
                        <li>The nearest cases is: <strong>{{notification.distance}}</strong> kilometers {{notification.neatestLocation}}</li>
                    </ul>
                    (<i>We are developing this feature from the dataset in Reference (below of page) so that it is only estimated.
                        Feedback for us at: <a style="color: #2E70DB" href="mailto:akdev.pro@gmail.com" rel="nofollow">akdev.pro@gmail.com</a></i>)
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endif %}

<div class="columns">
    <div class="column">
        <a class="box social has-text-centered" href="#">
            <p class="title is-4">Confirmed</p>
            <p class="subtitle is-2 is-marginless has-text-warning">{{latestData.confirmed | numberformat("###,###,###")}}</p>
        </a>
    </div>

    <div class="column">
        <a class="box social has-text-centered" href="#">
            <p class="title is-4">Deaths</p>
            <p class="subtitle is-2 is-marginless has-text-danger">{{latestData.deaths | numberformat("###,###,###")}}</p>
        </a>
    </div>

    <div class="column">
        <a class="box social has-text-centered" href="#">
            <p class="title is-4">Recovered</p>
            <p class="subtitle is-2 is-marginless has-text-success">{{latestData.recovered | numberformat("###,###,###")}}</p>
        </a>
    </div>
</div>

<p>
    <a class="button is-primary is-fullwidth" href="/analysis">
        <i class="fa fa-line-chart"></i>&nbsp;Go to Analystics</a>
</p><br><br>


<canvas id="timeSeries" style="min-height: 700px;"></canvas>
<br/>

<div class="columns">
    <div class="column">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" id="textSearch" placeholder="Filter country or province...">
                <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
        </span>
            </p>
        </div>
    </div>
</div>

<section>
    <div class="table__wrapper">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Country</th>
                <th>Confirmed</th>
                <th>New cases</th>
                <th>Deaths</th>
                <th>New deaths</th>
                <th>% of deaths</th>
                <th>Serious</th>
                <th>Recovered</th>
            </tr>
            </thead>
            <tbody id="dataTable"></tbody>
        </table>
    </div>
</section>

<hr/>
<h2 class="title is-3">Reference:</h2>
<section>
    <p> - The data comes from the <a href="https://github.com/CSSEGISandData/2019-nCoV">2019 Novel Coronavirus (nCoV) Data Repository, provided
        by JHU CCSE</a>. It is
        programmatically retrieved, re-formatted and stored in the cache for one hour.</p>

    <br>
    <p>
        - <a href="https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/edit#gid=1187587451">Kudos to DXY.cn</a>
        has detailed information such as summary, age, gender, symtoms for some cases and
    </p>
    <br/>
    <p>
        - <a href="https://bnonews.com/index.php/2020/02/the-latest-coronavirus-cases/">BNO News</a> Tracking coronavirus: Map, data and timeline
    </p>
    <br/>
</section>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=535007737144349&autoLogAppEvents=1"></script>
<div class="fb-comments" data-href="{{headerUrl}}" data-width="100%"  data-numposts="10" data-order-by="reverse_time"></div>

{% endblock content %}




<!-- SCRIPT BLOCK -->
{% block script_footer %}
{% if location.code == "CN" %}
<script src="https://maps.google.cn/maps/api/js?key=AIzaSyC7lsFGFuvTI1Ar98zzWNP2xbcd4TLlj5I&libraries=places&callback=initAutocomplete"
        async defer></script>
{% else %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7lsFGFuvTI1Ar98zzWNP2xbcd4TLlj5I&libraries=places&callback=initAutocomplete"
        async defer></script>
{% endif %}
<script>
    function initAutocomplete() {
        let input = document.getElementById('pac-input');

        let autocomplete = new google.maps.places.Autocomplete(
            input, {
                // types: ['(cities)']
            });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            let place = autocomplete.getPlace();

            let country = "";
            let code = "";
            let city = "";
            let lat = place.geometry.location.lat();
            let lng = place.geometry.location.lng();

            for (let i = 0; i < place.address_components.length; i++) {
                let addressType = place.address_components[i].types[0];
                // for the country, get the country code (the "short name") also
                if (addressType === "country") {
                    code = place.address_components[i].short_name;
                    country = place.address_components[i].long_name;
                } else if (addressType === "administrative_area_level_1") {
                    city = place.address_components[i].long_name;
                }
            }

            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                    if (xmlhttp.status === 200) {
                        window.location.reload();
                    }
                }
            };

            let uri = "/location?country=" + country + "&lat=" + lat + "&lng=" + lng + "&code=" + code + "&city=" + city;
            xmlhttp.open("GET", uri, true);
            xmlhttp.send();
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    let dataTable = document.getElementById('dataTable');
    let textSearch = document.getElementById('textSearch');

    let items = [];
    document.addEventListener('DOMContentLoaded', function () {
        loadFromApi();

        buildChart('timeSeries', '/api/confirmed-by-time-series', 'line');

        textSearch.addEventListener('keyup', function(event) {
            let k = event.target.value;
            if (k.length > 2) {
                let results = Array.from(items).filter(x =>
                    x.data.country.toLowerCase().indexOf(k.toLowerCase()) > -1
                );
                loadDataToHtml(results);
            }  else {
                loadDataToHtml(items);
            }
        })
    });

    function buildChart(id, url, type) {
        const xmlhttp = new XMLHttpRequest();
        let ctx = document.getElementById(id).getContext('2d');
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                if (xmlhttp.status === 200) {
                    new Chart(ctx, {
                        type: type,
                        data: JSON.parse(xmlhttp.responseText),
                        options: {
                            responsive: false
                        }
                    });
                }
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }


    function loadFromApi() {
        const xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                if (xmlhttp.status === 200) {
                    items = JSON.parse(xmlhttp.responseText);
                    loadDataToHtml(items);
                }
            }
        };
        xmlhttp.open("GET", '/all', true);
        xmlhttp.send();
    }


    function loadDataToHtml(items) {
        let html = '';
        items.forEach(item => {
            html += `
                 <tr>
                    <td>${item.data.country}</td>
                    <td>
                        <strong><p class="has-text-warning">${formatNumber(item.confirmed)}</p></strong>
                    </td>
                    <td>
                        <strong><p class="has-text-warning">${formatNumber(item.new_confirmed)}</p></strong>
                    </td>
                    <td>
                        <strong><p class="has-text-danger">${formatNumber(item.deaths)}</p></strong>
                    </td>
                    <td>
                        <strong><p class="has-text-danger">${formatNumber(item.new_deaths)}</p></strong>
                    </td>
                    <td>
                        <strong><p class="has-text-danger">${item.percent_of_deaths}</p></strong>
                    </td>
                    <td>
                        <strong><p class="has-text-black">${formatNumber(item.serious)}</p></strong>
                    </td>
                     <td>
                        <strong><p class="has-text-success">${formatNumber(item.recovered)}</p></strong>
                    </td>
                </tr>`;
        });
        if (items.length === 0) {
            html += `<tr>Not found!</tr>`
        }
        dataTable.innerHTML = html;
    }

    function formatNumber(number) {
        if (number === 0) return '-';
        return number.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    }

</script>
{% endblock script_footer %}