{% extends 'base' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/bulma-docs.min.css">
{% endblock style %}

<!-- CONTENT BLOCK -->
{% block content %}
<div class="card">
    {% if location != null %}
    <iframe src="https://www.google.com/maps/d/embed?mid=1a04iBi41DznkMaQRnICO40ktROfnMfMx&ll={{location}}&z=8" style="width: 100%; height: 800px;"></iframe>
    {% else %}
    <iframe src="https://www.google.com/maps/d/embed?mid=1a04iBi41DznkMaQRnICO40ktROfnMfMx" style="width: 100%; height: 800px;"></iframe>
    {% endif %}
    <div class="card-content">
        <strong>Key:</strong>
        <ul>
            <li>- Black: Cities with 1,000 or more cases</li>
            <li>- Purple: Cities with 100 or more cases.</li>
            <li>- Red: Cities with 20 or more cases.</li>
            <li>- Orange: Less than 20 cases</li>
            <li>- Diamond shape: Cities with deaths</li>
        </ul>
    </div>
</div>
{% endblock content %}

<!-- SCRIPT BLOCK -->
{% block script_footer %}

{% endblock script_footer %}
